obj/Debug/net8.0/nptfcBE.AssemblyInfo.cs
obj/Debug/net8.0/nptfcBE.AssemblyInfoInputs.cache
bin/Debug/net8.0/nptfcBE.dll
bin/Debug/net8.0/nptfcBE.exe
bin/Debug/net8.0/nptfcBE.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/nptfcBE.pdb
obj/Debug/net8.0/refint/nptfcBE.dll
