.admin-controls-body
{
    margin-left: 1%;
    margin-right: 1%;
}

.admin-buttons
{
    margin-left: 1%;
    margin-top: 2%;
    .admin-button
    {
        margin-right: 2%;
    }
}


.admin-league-fixture-update
{
    h6
    {
        text-align: center;
    }   
}
